#gradient {
    height: 100px;
    width: 100%;
    background: linear-gradient(to right, red, blue);
  }
  #colorContainer {
    height: 100px;
    width: 100px;
  }
  .colorPickers {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }    

.display{
    display:inline-flex;
    width: 50%;
}

.color-code{
    margin-left: 1%;
}

body {
  background-color: #16335D ;
  color: white;
  font-family: Roboto;
}

h1{
  font-family: Mynerve;
  text-align: center;
}

